 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    width:100%;
    height:100vh;
    font-family:Arial, sans-serif;
    background-image: url('https://img.freepik.com/premium-photo/top-view-dark-stylish-workplace-with-smartphone-office-supplies_67155-2963.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-size:16px;
    color:black;
    font-weight:400;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    overflow: hidden;
}
h1{
    
    font-size: clamp(2rem, calc(3vw + 1rem),5rem);
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
    background: linear-gradient(to right, rgb(236, 235, 235), rgb(221, 221, 221), rgb(196, 196, 196) ,rgb(224, 224, 224), rgb(235, 235, 235));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 2;
}

.to-do-list-container{
    width: clamp(20rem, calc(50vw + 5rem), 60rem);
    height: auto;
    padding: 2rem 3rem;
    background-color:rgba(0, 0, 0, 0.2) ;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0 5px rgb(156, 156, 156), 0 0 10px rgb(140, 140, 140);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    transition: all 500ms ease-in-out 30ms;
}
.to-do-list-container:hover{
    filter: drop-shadow(0 20px 10px rgba(128, 128, 128, 0.366));
}
.to-do-list-container h2{
    text-align: center;
    color: rgb(241, 235, 235);
}
.to-do-list-container #task{
    border-radius: 5px;
    height: 40px;
    border: 1px solid lightgray;
    text-indent: 1em;
    margin: 1rem 0;
}
.to-do-list-container #task::placeholder{
    color: rgb(157, 156, 154);
    letter-spacing: 0.2em;
}
.to-do-list-container .task-container-hidden{
    display: none;
    width: 100%;
    height: 40vh;
    box-shadow: inset 0 0 4px rgb(186, 186, 186);
    border-radius: 7px;
    padding: 1rem ;
    overflow-y: auto;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
     
}

.to-do-list-container .task-container-show{
    display: block;
}
.to-do-list-container .task-container-hidden ul{
    list-style: none;
    margin: auto 0;
}
.to-do-list-container .task-container-hidden ul li{
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    text-align: left;
    text-indent: 0.5em;
    margin: 1rem 0;
    padding: clamp(1rem, calc(3vw - 0.5rem), 3rem) 1rem;
    color: white;
    border-bottom: 2px solid rgb(246, 246, 246);
    background-color: rgba(185, 183, 183, 0.263);
    position: relative;
}

.to-do-list-container .task-container-hidden ul li .remove-task{
    position: absolute;
    right: 13px;
    top: 1px;
}
.to-do-list-container .task-container-hidden ul li .done-task{
    position: absolute;
    right: -10px;
    top: 1px;
}

.to-do-list-container .task-container-hidden ul li .undoneTask{
    position: absolute;
    right: 35px;
    top: 1px;
}
.to-do-list-container .task-container-hidden ul li button{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.to-do-list-container button#add-task{
    margin-top: 1rem;
    border-radius: 0.5em;
    border: 1px solid gray;
    width: 100%;
    height: 40px;
    transition: all 500ms ease-out 10ms;
}
.to-do-list-container button#add-task:hover{
    cursor: pointer;
    background-color: rgb(112, 112, 112);
    color: lightgrey;
}
.to-do-list-container button#add-task:active{
    background-color: lightgray;
    color: gray;
}

.animation-container{
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    background: transparent;
    position: relative;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 80%;
}
.animation-container div{
    position: absolute;
    font-size: 2rem;
}

@media screen and (max-width: 1100px) {
    .to-do-list-container .task-container-hidden ul li{
        border-radius: 4px;
    }
    .to-do-list-container .task-container-hidden ul li button{
        display: none;
        background-color: transparent;
    }
    .to-do-list-container .task-container-hidden ul li .remove-task{
        display: block;
        right: 1px;
        top: 2px;
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 1100px) {
    .to-do-list-container .task-container-hidden ul li{
        border-radius: 4px;
    }
    .to-do-list-container .task-container-hidden ul li .done-task{
        right: 3px;
        top: 50px;
    }
    .to-do-list-container .task-container-hidden ul li .undoneTask{
        top: 5px;
        right:3px;
    }
    .to-do-list-container .task-container-hidden ul li .remove-task{
        top: 28px;
        right: 3px;
    }
}