.dark-mode-change{
    background-image: url("../assets/pngtree-beautiful-moon-background-on-moon-night-picture-image_2392251.jpg");
    color: white;
}
.message-container{
    width: clamp(20rem, calc(60vw + 1rem), 70rem);
    height: auto;
    position: absolute;
    top: 100px;
    background: rgba(0, 0, 0, 0.700);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    z-index: 3;
}

.form{
    display: flex;
    flex-direction: column;
}
.form .email{
    display: inline-block;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    margin: 1rem 0;
    text-indent: 0.3em;
}
.heading{
    text-align: center;
    margin: 1.5rem 0;
}

.message{
    height: 200px;
    resize: none;
    border-radius: 2px;
    margin-bottom: 1.5rem;
}
.message:focus{
    text-indent: 10px;
    font-size: 1.3rem;
    color: black;
    border: 1px solid yellow;
}

.send{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    transition: all 500ms ease-out;
}
.send:hover{
    background: rgba(0, 0, 0, 0.700);
    color: lightgray;
}

.message-indicator{
    position: absolute;
    top: 20px;
    color: white;
    background-color: black;
    padding: 20px 5px;
    border-radius: 10px;
    z-index: 3;
}

.background-dark-gray{
    background-color: rgba(0, 0, 0, 0.500);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.exit{
    position: absolute;
    top: 10px;
    right: 20px;
    background-blend-mode: color-burn;
}